* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
   background: #f8fafc;
}
nav {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding-top:10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.nav-actions {
  display: flex;
  align-items: center;
  padding-bottom:10px;
  gap: 15px;
  margin-right: 30px;

}
.search-input{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23888' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E") no-repeat 10px center;
  background-size :18px;
  border-radius:10px;
  text-align:center;
  padding:10px;
}
h1 {
  padding: 10px;
}

ul a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: purple;
  margin: 15px;
}
ul a:hover {
  box-shadow: 0 3px 10px 0 #dbedf3;
  opacity: 0.5;
}
.form{
    display:flex;
    flex-direction:column;
    width:50%;
    height:fit-content;
    margin:auto;
    justify-content:space-between;
    align-items:center;
    margin-top :50px;
    margin-bottom:50px;
    padding:20px;
    border-radius:10px;
    gap:15px;
    background-color:#182248;
    color:white;
}
.form input{
    border-radius:5px;
    width:100%;
    padding:10px;
    border:none;
    outline:none;
}
#message{
    height:160px;
    border-radius:5px;
    text-align: start;
    padding:10px;
    border:none;
    outline:none;
}



.footer {
  text-align: left;

  margin-top: 40px;
  padding: 20px;
  background-color: #182248;
  color: white;
}
.footer h2{
  font-size: 20px;
}
.footer h3{
  font-size: 20px;
}
