
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 80px;
  background: #f8fafc;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.hero-text button {
  padding: 14px 30px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.hero-image {
  width: 45%;
  
}
.hero-image img{
    width:60%;
    border-radius:20px;
    height:50%;
}


